このテキストはプロジェクトの概要を説明し、あなたに求める行動を指示するものです。

# このプロジェクトについて
このプロジェクトではOpenAI API互換のサーバーに対してプロキシして、メモリ機能を付け足すためのOpen AI API互換サーバーを目指します。
どういうことかというと、まず、既にllama.cppによって起動されたOpen AI API互換のローカルサーバーが存在します。
このプロジェクトが立てるローカルサーバーは基本的にそこにリクエストを投げて、レスポンスを代わりに返すだけです。
本当に基本はただのプロキシです。でも、chat/completionsやresponsesなど会話に関するAPIが呼ばれたときは、
それまでに蓄積された会話履歴からユーザーの入力プロンプトに関係のありそうな”記憶”を引き出します。
引き出された記憶を入力プロンプトの末尾に付け足して、あたかも最初からそのテキストがユーザーからllama.cppに渡されたかのようにふるまいます。
これで、長期的な記憶を実現することができます。

# あなたへの指示
私があなたに求めることは、優れたコーディングエージェントとして私を補佐することです。
あなたがやるべきことは私に必要な情報を提供することと、私が求めている仕様を実装することです。
依存関係の追加やドキュメントの執筆、動作確認などは私のほうで行います。
また、私との会話では日本語で応答してください。

## コーディングルール
ソースコード中のコメントは常に英語で記述してください。